<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/inicial.css">
     
    <title>Proxima hora</title>

</head>
<body>
<body>
   {{> header}}
    
<section class="main-content">
<div class="container ">
    <div class="fondo justified-content-center py-4 px-2 text-light">
    
        <div class="subtitle1 col-md-5">
            <h1 >PROXIMA HORA</h1>
            <div > 
                Tu bienestar es nuestra prioridad. Descubre una red de especialistas listos para atenderte.
            </div>
                    
            <button class="btn btn-info"> <span style="font-weight:bold">Ir a buscar Especialista</span></button>
        </div>
      </div>
       
</div>





<section class="p-2  ">


<div class="container" >

    <div class="row p-2 mx-auto d-flex">
    <div class="col " style=" background: #FFD66D">
         <h3 class="p-5">¡Suscribete y comienza ya!</h3>
         <div class="row">
            <div class="col ms-4 "> <h4>Controla tu agenda y maximiza tu tiempo. Únete a nuestra plataforma para establecer tus propias disponibilidades.</h4></div>
        
         </div>
        <div class="row p-5"> 
            <div class="col ms-4"><button type="button"  class="btn btn-info"><strong>Registrate como Especialista</strong></button></div>
            <div class="col"><button type="button"  class="btn btn-success"><strong>Contáctanos</strong></button></div>
    
        </div>

    </div>
   

          <div class="col ">  <img src="./images/registrate2.jpg" class="d-inline-block" alt=""></div>


      
   
    </div>
</div>
</section>

<section class="p-2  ">
        <div class="container d-flex justify-content-evenly " style="background: #ECF8FF;">
            <div class="card-group">  
        <div class="row text-center">
        <div class="col-sm-4 p-5 my-4">
            <div class=" ms-2   mb-2   "> 
                <figure><img src="./images/Icon-people-01.svg" class="card-img-top "></figure>
                 
            </div>
          
        Contamos con especialistas de diversas áreas de la salud, dispuestos a atenderte en la proxima hora disponible.
            </div>
        <div class="col-sm-4 p-5 my-4">  
                <div class=" ms-2  mb-2   ">
                    <figure>  <img src="./images/Icon-doctor-01.svg" class="card-img-top" ></figure>
                    </div>
           El especialista tendra disposición todos los datos de cada uno de sus pacientes.Muchos de los especialistas te pueden atender presencial, online o en tu domicilio</div>
        <div class="col-sm-4 p-5 my-4">
            <div class=" m s-2   mb-2   ">  
                <figure><i mg src="./images/Icon-laptop-01.svg" class="card-img-top"></figure>Tu salud, tu elección. Reserva tu cita con los mejores profesionales de la salud y el bienestar.
                Cada espec ialista es único, al igual que tu bienestar. Encuentra el experto perfecto para ti
            </div> 
           .</div>

        </div>
            </div>
        
                    </div>

</section>


<section class="p-2  ">



    <div class="container d-flex justify-content-start " >
            <div class="row" id="nosotros">
               
                <div class="col"> 
                        <h3>Sobre Nosotros</h3>
                        <div class="p-2" style="width: 55%;"><hr></div>

                        <h4>Qué hace Próxima Hora?</h4><br>
                        Próxima Hora busca simplificar y abaratar el acceso a los Servicios de Especialistas independientes,
                        generando un bien social, permitiendo buscar alternativas a servicios que presentan largas colas
                        de espera y saturación. Para esto pone a disposición un Sitio de encuentro entre Especialistas y
                        Usuarios Demandantes de Servicios.<br>
                        Para ello hemos creado un buscador que permite a los visitantes encontrar al Especialista
                        necesario, tomando en cuenta su cercanía y disponibilidad y pudiendo agendar online su Hora las
                        24 horas del día, los 7 días de la semana.
                        
                        <div class="p-2">
                            <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Historia"> 
                            <span style="font-weight:bold;color:white">Mas...</span></a>
                        </div>
                                                    <!-- Modal -->
                            <div class="modal fade" id="Historia" tabindex="-1" aria-labelledby="Historia" aria-hidden="true">
                                <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h5 class="modal-title" id="Historia">Historia</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <h4>Historia de la marca</h4>
                                        Próxima Hora nace como una idea basada en la experiencia personal de uno de los Socios de
                                        CRUVAL Business Ltda. que identifica que en el rubro de la salud existen pocos caminos
                                        alternativos para buscar y agendar servicios de especialistas más allá de las páginas de clínicas, por
                                        lo que para las personas que buscan esos servicios, los especialistas independientes o
                                        dependientes con disponibilidad de atención fuera de sus horarios laborales quedan fuera de su
                                        alcance.<br>
                                        De ahí nace el nombre “Próxima Hora”, ya que la idea es permitir encontrar de modo rápido, fácil
                                        y accesible la hora más próxima en tiempo y distancia disponible.
                                    <h4>Equipo</h4>
                                        Próxima Hora nace como un proyecto de dos cuñados: Juan Pablo, que es Psicólogo de la
                                        Universidad de los Andes con un MBA UC y Francisco, que es Ingeniero Civil Industrial de la UGM y
                                        cuenta con dos MBAs (UC y Meigen en Negocios Internacionales). Nos complementamos sumando
                                        management con el conocimiento del mercado de los Especialistas Independientes. Próxima Hora
                                        es simple, accesible y serio; buscando simplificar y abaratar el acceso a los Servicios de
                                        Especialistas a todas las personas, sin trabas ni grandes complicaciones, generando un bien social,
                                        permitiendo buscar alternativas a servicios que presentan largas colas de espera y saturación.
                                        
                                    </div>
                                    <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    
                                    </div>
                                </div>
                                </div>
                            </div>
                            <!-- termino modal --> 
                        
            </div>
                
                <div class="col p-5"> <img src="./images/About-Us.jpg" alt=""></div>
            </div>
                
    </div>
</section>


 

<section class="p-2  container-fluid">
    
    <div class="container d-flex justify-content-center"   id="noticias"> 
       <div><h3>Noticias</h3>
        <div ><hr ></div></div>
    </div>

    <div class="container d-flex justify-content-justified p-2 mx-auto" >
        <div class="card-group">
        <div class="row">
            <div class="col-sm-4">
                <div class="card ms-2 shadow p-3 mb-5 bg-body rounded"> 
                    <img src="./images/Blog-img.png" class="card-img-top" alt="">
                    <div class="card-body">
                        <h3 class="card-title text-center">Acompañamiento</h3>
                    <p class="card-text">La importancia de sentirse acompañado por el especialista.Tu bienestar es nuestra prioridad. Descubre una red de especialistas listos para atenderte.</p>
                    <p class="text-center"><a href="#" class="btn btn-primary btn-small">Leer Mas</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card shadow p-3 mb-5 bg-body rounded"> 
                    <img src="./images/Blog-img-2.png" class="card-img-top" alt="">
                    <div class="card-body">
                        <h3 class="card-title text-center">Agenda por Especialista </h3>
                    <p class="card-text">Se optimiza la agenda del especialista y la del paciente/usuario.Simplificamos el proceso. Reserva ahora y asegura tu espacio con nuestros especialistas."</p>
                    <p class="text-center"><a href="#" class="btn btn-primary btn-small">Leer Mas</a></p>
                </div>
            </div>
            </div>
            <div class="col-sm-4">
                <div class="card shadow p-3 mb-5 bg-body rounded"> 
                    <img src="./images/Blog-img-3.png" class="card-img-top" alt="">
                    <div class="card-body">
                        <h3 class="card-title text-center">Enfermeras</h3>
                    <p class="card-text">Todo lo que se requiere en cuanto a profesionales. Reserva tiempo con nuestros especialistas para un cuidado/servicio personalizado.</p>
                    <p class="text-center"><a href="#" class="btn btn-primary btn-small">Leer Mas</a></p>
                    </div>
                </div>  
            </div>     
        </div>  
    </div>     
    </div>
</section> 
    
<section class="p-2  ">
    <div class="container d-flex justify-content-center"> 
        <div class="col-md-6">
            <div class="ratio ratio-4x3"><hr>
            <iframe src="" title="video" allowfullscreen></iframe>
          </div>
        </div>
        
    </div>
</section>
    


   <section class="p-2 ">
            <div class="container d-flex justify-content-center" style="text-align:center" id="FAQs"> 
                <div><h2>FAQs</h2>
                <div ><hr ></div></div>
            </div>

            <div class="container d-flex justify-content-center" style="text-align:left"> 
        
            <div class="col">
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Cómo funciona Próxima Hora?
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                    En términos simplificados:
                                <br> •	Los Visitantes (Usuarios demandantes de Servicios) buscan al Especialista de acuerdo con su necesidad y conveniencia (Cercanía, Disponibilidad, atención presencial o remota, que opere con Isapres, Fonasa o 100% particular).
                                <br> •	Ingresan al perfil del Especialista, revisan la disponibilidad de horas y agendan de acuerdo con la mejor solución a su necesidad.
                                    <br>•	Automáticamente se genera un aviso al Especialista que le indica que una hora ha sido tomada y la persona que lo ha hecho. 
                                    
                            </div>
                        </div>
                        </div>
                        <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                ¿Cómo protegemos a los Usuarios?
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Usted cuenta con nuestra ayuda.
                                <br>Aunque no es común, si tuvieras algún problema con el agendamiento o el Especialista, estaremos ahí para ayudarte.
                                Lo primero que tienes que hacer es iniciar un Comentario Negativo sobre el Especialista. Esto lo puedes hacer pasado 48 Hrs. de la hora agendada, para que podamos seguir tu problema y ayudarte a resolverlo.
                                
                            </div>
                        </div>
                        </div>
                        <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                ¿Cómo y hasta cuándo puedo cancelar/anular una hora?
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Para cancelar o anular una hora, busque la opción “ANULAR” que aparece en el menú de tus horas agendadas y sigue los pasos. 
                                La devolución de una hora se podrá realizar hasta 24 horas antes de la hora agendada. 
                                Se recomienda comunicarse con el/la Especialista si se agendo directamente con él/ella. 
                            </div>
                        </div>
                        </div>
                    </div>
        
            






            </div>

            <div class="col">

         <div class="accordion" id="accordionExample1">
            <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne1">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne1" aria-expanded="false" aria-controls="collapseOne1">
                    ¿Cómo y cuándo puedo opinar sobre el Especialista?
                </button>
            </h2>
            <div id="collapseOne1" class="accordion-collapse collapse show" aria-labelledby="headingOne1" data-bs-parent="#accordionExample1">
                <div class="accordion-body">
                    A partir de 48 Hrs posteriores a la hora agendada, podrás dejar un comentario sobre el Especialista y lo mostraremos en su perfil. 
                    Previa verificación de que, a juicio de <strong>Próxima Hora</strong>, el Comentario no es grosero, ofensivo o incumple las normas de uso de <strong>Próxima Hora</strong>.                </div>
            </div>
            </div>
            <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo1">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo1" aria-expanded="false" aria-controls="collapseTwo1">
                    ¿Cuando y cómo el Especialista puede opinar sobre el Usuario Demandante por Servicios?
                </button>
            </h2>
            <div id="collapseTwo1" class="accordion-collapse collapse" aria-labelledby="headingTwo1" data-bs-parent="#accordionExample1">
                <div class="accordion-body">
                    Hasta 24 Hrs posteriores a la hora agendada, se podrá dejar un comentario sobre el Usuario Demandante de Servicios, por ejemplo, la inasistencia a la hora agendada u otro problema.
                </div>
            </div>
            </div>
            <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree1">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree1" aria-expanded="false" aria-controls="collapseThree1">
                    ¿Cuáles son las normas de Próxima Hora para la emisión de Comentarios?
                </button>
            </h2>
            <div id="collapseThree1" class="accordion-collapse collapse" aria-labelledby="headingThree1" data-bs-parent="#accordionExample1">
                <div class="accordion-body">
                    Los Comentarios estarán sujetas a las siguientes reglas:

                    <br>•	Deberán limitarse a referencias personales sobre la atención.
                    <br>•	No están permitidas opiniones de carácter privado, publicitario, autorreferencias o cualquier otra acción que desvirtúe la herramienta de opiniones.
                    <br>•	No podrá incluirse contenido ofensivo, obsceno, discriminatorio, ni que incite peligro potencial hacia las personas.
                    <br>•	Si la persona sube una imagen como complemento de su opinión deberá tener todos los derechos y autorizaciones que esas imágenes puedan requerir.
                    <br> •	No están permitidas fotos con desnudez total o parcial, o con menores de edad en ropa interior.
                    <br>•	No podrán incluirse datos de contacto como, por ejemplo: teléfono, e-mail o dirección.
                    <br>•	La Persona Usuaria autoriza a Próxima Hora a publicar los comentarios y fotos como referencias de atenciones y a servicios y como respuestas a preguntas que otras Personas Usuarias puedan realizar sobre el mismo.
                    
                    <br> •	La Persona Usuaria será responsable por cualquier daño que sus opiniones e imágenes puedan causar. Próxima Hora podrá suspender temporal o definitivamente la posibilidad de dejar opiniones a quien incumpla estas políticas. 
                    
                    <br>•	Próxima Hora no edita opiniones, pero podrá impedir la publicación o eliminar cualquier comentario e imagen ya publicada que no cumpla con los Términos y Condiciones.
                            </div>
            </div>
            </div>
        </div>

    </div>

   

    </div>

   </section>
</section>
      
{{> footer}}

</body>
</html>