<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/inicial.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <title>Proxima hora</title>

</head>
<body>
<body>
   {{> header}}
    
<section>
<div class="container  mx-auto">
    <div class="justified-content-center py-4 px-2 text-dark">
    
            <h3>Los pagos electrónicos de su membresía es un servicio proporcionado por
            Próxima Hora.</h3><br>
           <p> Para usarlos, debe aceptar 1) los Términos y Condiciones de Próxima Hora y 2)
            estos Términos del Servicio Adicional de Pago (los &quot;Términos Adicionales&quot;).
            Lea cada uno de estos documentos detenidamente. En conjunto, estos
            documentos se denominan &quot;Términos&quot;. Definen lo que puede esperar de nosotros
            al usar nuestros servicios y lo que nosotros esperamos de usted. Por ejemplo,
            los Términos y Condiciones de Próxima Hora incluyen términos como el derecho
            de devolución de horas y más detalles sobre los motivos por los que realizamos
            cambios en nuestros servicios y sobre los preavisos que le enviamos sobre estos
            cambios. Tenga en cuenta que los Términos y Condiciones de Próxima Hora  se
            aplican a los datos descritos en la Declaración de Privacidad y otros elementos
            que no sean pagos.<br>
            En caso de conflicto entre estos Términos Adicionales y los Términos y
            Condiciones de Próxima Hora, este último se regirá por estos Términos
            Adicionales.<br>
            Aunque no forme parte de estos términos, la Declaración de Privacidad de
            Próxima Hora describe cómo se gestiona sus datos de pago. Le recomendamos
            que lo lea para entender mejor cómo gestionamos sus datos.
            Puede cancelar su servicio de Adicional de Pagos en cualquier
            momento poniéndose en contacto con Próxima Hora.<br></p>
            <p>
            2. Requisitos Básicos<br>
            Para usar el Servicio de Pagos, debe:
            <li>Tener la edad mínima de 18 años.</li>
            <li>Tener capacidad para firmar un contrato legalmente vinculante con
            Próxima Hora.</li>
            <li>También necesitará una Cuenta de Próxima Hora, un dispositivo que cumpla los
            requisitos del sistema y de compatibilidad del Servicio (que pueden cambiar
            ocasionalmente), acceso a Internet y software compatible. Su capacidad para usar
            el Sistema de Pagos y el rendimiento de dicho servicio podrían verse afectados
            por estos factores. Usted es responsable de cumplir los requisitos del sistema.</li><br>
            3. Descripción General del Sistema de Pagos
           <br> Le permite guardar los elementos siguientes en su Cuenta, gestionarlos desde un
            mismo lugar y usarlos para realizar transacciones con Próxima Hora:
            <li>Tarjetas de crédito</li>
            <li>Tarjetas de débito</li>
            <li>Otros tipos de métodos de pago que puede usar para pagar en tiendas, en
            aplicaciones, en la Web y de otras formas</li><br>
            4. Métodos de Pago<br></p>
            <p>
            <li>a) Tipos de Métodos de Pago</li>
            Puede guardar y gestionar varios tipos de métodos de pago (denominados
            colectivamente &quot;Métodos de Pago&quot;), incluidos los siguientes:
            Tarjetas de pago, como tarjetas de crédito, débito y prepago (&quot;Tarjetas de
            Pago&quot;)<br>
            <li>b) Guardar un Método de Pago</li>
            Para guardar un Método de Pago, debe
            proporcionar toda la información necesaria en todos los formularios de registro
            que se le muestren. La información que facilite debe ser actual, completa y
            precisa, y debe mantenerla en dichas condiciones. Es posible que solicitemos que
            proporcione información adicional como condición para seguir usando el Sistema
            de Pagos o para ayudarnos a determinar si debemos permitirle que siga usando el
            Sistema de Pagos.<br>
            Cuando usted guarde un Método de Pago, Próxima Hora podrá almacenar
            información relacionada con el Método de Pago, como su nombre y su dirección
            de facturación.<br>
            Nos autoriza a confirmar que su Método de Pago está en regla con su proveedor,
            incluidas, entre otras acciones, enviar una solicitud de autorización de pago y/o
            una transacción de crédito o débito de pequeño importe en el Método de Pago, de
            conformidad con las normas de la red de pagos u otros requisitos aplicables al
            Método de Pago.<br>
            Acepta que el Sistema de Pago es para su uso personal, con sus propios Métodos
            de Pago. Si utiliza el Sistema de Pagos con una tarjeta de empresa válida, acepta
            que lo hace con la autorización de su empresa y con la capacidad de vincular a su
            empresa con estos Términos.<br>
            c) Guardar un Número de Tarjeta Virtual o una Cuenta de Terceros
            Vinculada<br>
            Los siguientes términos adicionales se aplican al usar el Sistema de Pagos para
            guardar un Número de Tarjeta Virtual o una Cuenta de Terceros Vinculada en su
            Cuenta de Google.<br>
            Después de añadir un Método de Pago al Sistema de Pagos y de proporcionar la
            información solicitada por Próxima Hora y/o la entidad emisora de su Método de
            Pago, el Sistema comprobará si el Método de Pago cumple los requisitos para
            usarse. Es posible que no todos los Métodos de Pago de una entidad emisora
            participante cumplan los requisitos necesarios. Si la entidad emisora de su
            Método de Pago es compatible y el Método de Pago cumple los requisitos, es
            posible que, al añadirlo, se muestre una pantalla en la que se le solicite que
            acepte los términos y condiciones de la entidad emisora. Una vez que lo haya
            hecho y haya añadido correctamente el Método de Pago, el Sistema almacenará
            un Número de Tarjeta Virtual que se corresponderá con el número de tarjeta real
            de su Tarjeta de Pago o asociará su Cuenta de Terceros Vinculada con su Cuenta
            de Próxima Hora para los usos descritos en la Sección 5 que aparece más abajo.<br>
            Los Números de Tarjeta Virtuales que registre usando el Sistema serán diferentes
            de cualquiera de las Tarjetas de Pago asociadas que guarde en su Cuenta de Próxima Hora. Al contrario que un Número de Tarjeta Virtual, normalmente una
            Tarjeta de Pago no se le mostrará con un aspecto parecido al de la tarjeta física
            asociada y no se podrá usar para transacciones en tiendas mediante
            Comunicación de campo cercano (&quot;NFC&quot;). Sin embargo, cuando usted registre
            un Número de Tarjeta Virtual, es posible que el Sistema también guarde la Tarjeta
            de Pago asociada en su Cuenta.<br>
            d) Eliminar Métodos de Pago<br>
            Se podrá quitar un Método de Pago en un dispositivo concreto e impedir que se
            pueda usar con el Servicio si i) elimina el Método de Pago; ii) elimina el Método
            de Pago de su Cuenta de Próxima Hora; iii) borra el contenido de su dispositivo
            móvil con el Administrador de Dispositivos Android; iv) elimina su Cuenta de
            Próxima Hora; v) su dispositivo móvil no se conecta a ningún producto o servicio
            de Próxima Hora durante 90 días consecutivos; y/o vi) la entidad emisora o la red
            de pagos de su Método de Pago insta a Próxima Hora a retirar de del Sistema de
            Pago dicho Método de Pago.<br>
            5. Realizar Transacciones con Métodos de Pago<br>
            a) En las Propiedades<br>
            Es posible que el Sistema le permita iniciar el pago de una transacción como
            pago de su membresía y que solicite a Próxima Hora o a sus entidades asociadas
            que procesen transacciones de pagos en su nombre.
            Cuando usted inicie una Transacción, es posible que se le muestre los Métodos
            de Pago disponibles en el momento de la transacción. Después de que usted haya
            seleccionado el Método de Pago que quiera usar, Próxima Hora podrá realizarle
            un cargo en ese Método de Pago o podrá compartir dicho Método de Pago, y la
            información relacionada, con una de sus entidades asociadas para que procese la
            transacción en nombre de Próxima Hora. Nos autoriza a que realicemos un cargo
            o un débito en su Método de Pago de acuerdo con los requisitos necesarios para
            procesar una Transacción. También nos autoriza a realizar abonos en su Método
            de Pago como consecuencia de anulaciones, reembolsos o ajustes relacionados
            con una Transacción.
            Si el cargo no se puede efectuar en el Método de Pago seleccionado, Próxima
            Hora puede cobrar el importe en otro Método de Pago válido que haya guardado
            en el Sistema.
            <br>
            Cuándo Próxima Hora le ofrece la opción de pagar por suscripciones, su
            suscripción comenzará cuando haga clic en &quot;Aceptar y comprar&quot; (o una frase
            equivalente) durante el proceso de compra de la suscripción. Se trata de una
            transacción de facturación periódica. <br>A menos que se indique otra cosa, su
            suscripción y la autorización de facturación correspondiente seguirán vigentes de
            forma indefinida hasta que las cancele. Al hacer clic en &quot;Aceptar y comprar&quot; (o
            una frase equivalente), autoriza Próxima Hora a efectuar un cargo en el Método
            de Pago elegido en cada periodo de facturación establecido para la suscripción.
            La cancelación de la suscripción no tendrá efecto hasta que finalice el periodo de
            facturación en curso. No recibirá ningún reembolso correspondiente al periodo de
            facturación en curso y podrá seguir accediendo a la suscripción pertinente
            durante el resto del periodo de facturación en curso.
                 </p>   
                                                        
           <div class="text-center">  <button class="btn btn-info ">Leido lo relativo a Pagos</button></div>                                             
     
</div>
</div>

</section>



   

  

      
{{> footer}}

</body>
</html>