<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/inicial.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <title>Proxima hora</title>

</head>
<body>
<body>
   {{> header}}
    
<section>
<div class="container  mx-auto">
    <div class="justified-content-center py-4 px-2 text-dark">
    
     <h2>Resumen de términos y condiciones</h2>
<h4> Próxima Hora, pertenece a “Desarrollo, Intermediación y Comercialización de Productos y Servicios Valdés y Cruz Limitada” (CRUVAL Business Ltda.), que es una compañía de tecnología que ofrece servicios vinculados principalmente al agendamiento de servicios de especialistas. En adelante, al hablar de Próxima Hora como compañía, se referirá a “Desarrollo, Intermediación y Comercialización de Productos y Servicios Valdés y Cruz Limitada” (CRUVAL Business Ltda.), como dueña del Sitio.
                                                         <br>Para poder operar en la plataforma todas las Personas Usuarias deberán aceptar los Términos y Condiciones, los anexos y la Declaración de Privacidad.
                                                        Cada Persona Usuaria es responsable de los datos personales que brinda al momento de registrarse y se obliga a mantenerlos actualizados. Además, es el único responsable del uso y resguardo de su contraseña. 
                                                         <br>En el caso de los Especialistas Oferentes de Servicios, cobraremos una tarifa por el uso de los servicios que integran el ecosistema de Próxima Hora, de acuerdo al plan al cual se inscriba, que el Especialista se compromete a pagar. 
                                                       </h4>
                                                        
                                  <p class="py-2">1- Próxima Hora <br>
                                                        Próxima Hora es un Sitio que ofrece servicios vinculados principalmente al agendamiento de servicios de especialistas. 
                                                        
                                                        Los servicios que ofrece Próxima Hora en el sitio www.proximahora.cl (de ahora en más: “Sitio”) están diseñados para formar un ecosistema que permita a las personas ofrecer y agendar servicios y realizar otras actividades comerciales con tecnología aplicada (de ahora en más: “Ecosistema PH”).
                                                        <br>
                                                        2- Términos y Condiciones <br>
                                                        Estos términos y condiciones y los anexos que explican los servicios del Ecosistema PH (de ahora en más: “Términos y Condiciones”) regulan la relación entre Próxima Hora y las personas que usan sus servicios (“Personas Usuarias”, ya sean Especialistas Oferentes o Usuarios Demandantes de Servicios). 
                                                        
                                                        Las Personas Usuarias aceptan estos Términos y Condiciones desde el momento en que se registran en el Sitio y usan el Ecosistema PH.
                                                        
                                                        Cuando debamos hacer cambios importantes en nuestros servicios, publicaremos las modificaciones con 10 días corridos de anticipación para que las Personas Usuarias puedan revisarlas y seguir usando el Ecosistema PH. En ningún caso afectarán las operaciones que ya hayan finalizado.
                                                        
                                                        Las Personas Usuarias que no tengan obligaciones pendientes con Próxima Hora o con otras Personas Usuarias, podrán finalizar la relación con Próxima Hora cancelando su cuenta.
                                                         <br>
                                                        3- Capacidad <br>
                                                        Podrán usar nuestros servicios las personas mayores de edad que tengan capacidad legal para contratar. 
                                                        
                                                        Quien use el Ecosistema PH en representación de una empresa deberá tener capacidad para contratar a nombre de ella. Además, para poder usar la cuenta, la Persona Usuaria debe encontrarse activa. 
                                                        Quien use el Ecosistema PH para agendar Servicios para un menor de edad, deberá tener capacidad para contratar a nombre de este. Además, para poder usar la cuenta, la Persona Usuaria debe encontrarse activa. 
                                                         <br>
                                                        4- Registro y Cuenta <br>
                                                        Quien quiera usar nuestros servicios, deberá completar el formulario de registro con los datos que le sean requeridos. Al completarlo, se compromete a hacerlo de manera exacta, precisa y verdadera y a mantener sus datos siempre actualizados. La Persona Usuaria será la única responsable de la certeza de sus datos de registro. Sin perjuicio de la información brindada en el formulario, podremos solicitar y/o consultar información adicional para corroborar la identidad de la Persona Usuaria. 
                                                        
                                                        La cuenta es personal, única e intransferible, es decir que bajo ningún concepto se podrá vender o ceder a otra persona. Se accede a ella con la clave personal de seguridad que haya elegido y que deberá mantener bajo estricta confidencialidad. Por eso, la Persona Usuaria será la única responsable por las operaciones que se realicen en su cuenta. En caso de detectar un uso no autorizado de su cuenta, deberá notificar de forma inmediata y fehaciente a Próxima Hora. 
                                                        
                                                        Podremos rechazar una solicitud de registro o bien cancelar un registro ya aceptado, sin que esto genere derecho a un resarcimiento. No podrán registrarse nuevamente en el Sitio las Personas Usuarias que hayan sido inhabilitadas previamente. Tampoco podrán registrarse quienes estén incluidos o relacionados a personas incluidas en listas nacionales o internacionales de sanciones.
                                                        Además, en caso de detectar el uso de más de una cuenta, podremos aplicar retenciones, débitos y/o cualquier otra medida si consideramos que ese accionar puede perjudicar al resto de las personas que usan el Sitio o a Próxima Hora, más allá de las sanciones que pudieran corresponder. 
                                                         <br>
                                                        5- Privacidad de datos <br>
                                                        En Próxima Hora hacemos un uso responsable de la información personal, protegiendo la privacidad de las Personas Usuarias que nos confiaron sus datos y tomando las medidas necesarias para garantizar la seguridad en nuestro Ecosistema PH. Favor leer nuestra Declaración de Privacidad.
                                                         <br>
                                                        6- Sanciones <br>
                                                        En caso que la Persona Usuaria incumpliera una ley o los Términos y Condiciones, podremos advertir, suspender, restringir o inhabilitar temporal o definitivamente su cuenta, sin perjuicio de otras sanciones que se establezcan en las reglas de uso particulares de los servicios de Próxima Hora. 
                                                         <br>
                                                        7- Responsabilidad <br>
                                                        Próxima Hora será responsable por cualquier defecto en la prestación de su servicio, sólo en la medida en que le sea imputable y con el alcance previsto en las leyes vigentes. 
                                                        Próxima Hora no es responsable del nivel de servicio o incumplimiento de atenciones o pagos por parte de los usuarios del Sitio, ya que los Servicios de Próxima Hora se limitan a proporcionar la disponibilidad de los servicios y servir de nexo de contacto entre Especialistas Oferentes de Servicios y Usuarios Demandantes por Servicios.
                                                         <br>
                                                        8- Tarifas <br>
                                                        Próxima Hora podrá cobrar por sus servicios y el Especialista se compromete a pagarlos a tiempo. 
                                                        
                                                        Podremos modificar o eliminar las tarifas en cualquier momento con el debido preaviso establecido en la cláusula 2 de estos Términos y Condiciones. De la misma manera, podremos modificar las tarifas temporalmente por promociones en favor de los Especialistas. 
                                                        
                                                        Para conocer el detalle de las tarifas de cada servicio, las Personas Usuarias deberán consultar los términos y condiciones correspondientes. 
                                                        
                                                        En todos los casos se emitirá la factura de conformidad con los datos fiscales que las personas tengan cargados en su cuenta. 
                                                         <br>
                                                        9- Propiedad Intelectual <br>
                                                        Próxima Hora y/o sus sociedades relacionadas son propietarias de o licenciatarias con derechos suficientes sobre todos los derechos de propiedad intelectual sobre sus sitios, todo su contenido, servicios, productos, marcas, nombres comerciales, logos, diseños, imágenes, frases publicitarias, derechos de autor, dominios, programas de computación, códigos, desarrollos, software, bases de datos, información, tecnología, patentes y modelos de utilidad, diseños y modelos industriales, secretos comerciales, entre otros (“Propiedad Intelectual”) y se encuentran protegidos por leyes nacionales e internacionales.
                                                        
                                                        Aunque Próxima Hora otorga permiso para usar sus productos y servicios conforme a lo previsto en los Términos y Condiciones, esto no implica una autorización para usar su Propiedad Intelectual, excepto consentimiento previo y expreso de Próxima Hora y/o sus sociedades vinculadas. En cualquier caso, los usuarios vendedores que usen dichos productos y servicios no podrán utilizar la Propiedad Intelectual de Próxima Hora de una manera que cause confusión en el público y deberán llevar a cabo su actividad comercial bajo una marca o nombre comercial propio y distintivo, que no resulte confundible con la marca Próxima Hora y su familia de marcas.
                                                        
                                                        Está prohibido usar nuestros productos o servicios para fines ilegales, realizar cualquier tipo de ingeniería inversa u obras derivadas, utilizar herramientas de búsqueda o de extracción de datos y contenidos de nuestra plataforma para su reutilización y/o crear bases de datos propias que incluyan en todo o en parte nuestro contenido sin nuestra expresa autorización. Está también prohibido el uso indebido, sin autorización y/o contrario a la normativa vigente y/o que genere confusión o implique uso denigratorio y/o que le cause perjuicio, daños o pérdidas a Próxima Hora y/o a sus sociedades relacionadas. La utilización de los productos y servicios de Próxima Hora tampoco implica la autorización para usar propiedad intelectual de terceros que pueda estar involucrada, cuyo uso quedará bajo exclusiva responsabilidad del usuario. 
                                                        En caso que una Persona Usuaria o cualquier publicación infrinja la Propiedad Intelectual de Próxima Hora o de terceros, Próxima Hora podrá remover dicha publicación total o parcialmente, sancionar al usuario conforme a lo previsto en estos Términos y Condiciones y ejercer las acciones extrajudiciales y/o judiciales correspondientes.
                                                         <br>
                                                        10- Indemnidad <br>
                                                        La Persona Usuaria mantendrá indemne a Próxima Hora y sus sociedades relacionadas, así como a quienes la dirigen, suceden, administran, representan y/o trabajan en ellas, por cualquier reclamo administrativo o judicial iniciado por otras Personas Usuarias, terceros o por cualquier Organismo, relacionado con sus actividades en el Ecosistema PH.
                                                        En virtud de esa responsabilidad, podrán realizar compensaciones, retenciones u otras medidas necesarias para la reparación de pérdidas, daños y perjuicios, cualquiera sea su naturaleza.
                                                         <br>
                                                        11- Jurisdicción y Ley Aplicable <br>
                                                        Estos Términos y Condiciones se rigen por la ley chilena. Toda controversia derivada de su aplicación, interpretación, ejecución o validez será resuelta por los tribunales nacionales ordinarios competentes, con asiento en la capital, salvo disposición específica de normas de orden público, como por ejemplo, legislación relativa al Consumidor. Para todos los efectos relacionados con los presentes Términos y Condiciones y con el uso del sitio, “Desarrollo, Intermediación y Comercialización de Productos y Servicios Valdés y Cruz Limitada” designa como sus representantes a los Sres. Juan Pablo Cruz Navarro R.U.T. número 16.367.905-1 y , Francisco Valdés Arrieta, R.U.T. número 9.093.839-8, domiciliados en Av. Tabancura 1091, Oficina 013, Vitacura, Santiago - Chile. Para requerimientos o solicitudes relacionados con el contenido de estos Términos y Condiciones, la Persona Usuaria podrá comunicarse con Próxima Hora a través de los canales señalados en https://www.proximahora.cl/l/contacto.
   </p>                      
                                                        
           <div class="text-center">  <button class="btn btn-info ">Leido las Politicas de Proxima Hora</button></div>                                             
     
</div>
</div>

</section>



   

  

      
{{> footer}}

</body>
</html>