* {
    font-family: 'Open Sans';
    font-style: normal;
    font-size: 14px;
}
body{
    margin: 0;
	padding: 0;
    padding-top: 117px; 
    font-family: 'Open Sans';
    font-style: normal;
    font-size: 14px;

}
.light { 
    font-weight: 300;
}
.regular { 
    font-weight: 400;
}
.semibold { 
    font-weight: 600;
}

h1
{
    font-size: 40px;
    text-shadow:4px 4px 2px rgba(0,0,0,0.22);;
    font-weight: 700;
}
h2
{
    font-size: 28px;
    font-weight:700;
}
h3
{
    font-size: 24px;
    font-weight: 700;
}
h4
{
    font-size: 20px;
    font-weight:500;
}

.fondo{
padding-top: 10px; 
/* background-image: url("../images/banneresp.jpg"); */
background-size: cover;
background-repeat:no-repeat ;
background-position: center;
/* height: 398px; */
text-shadow: #787878;

}
.subtitle1{
    font-size: 16pt;
    font-weight:bold;
    padding-top: 75px;
    padding-left: 70px;
  

}
.body {
    font-size: 14pt
}

.input {
    font: size 14px;
    height: 36px;
    padding: 20 9 20 9;
    border-radius: 5px;
}
.colornegro{
    color:#010816
}
.colorcalipso{
    color:#387cff
}
.colorceleste{
    color:#7aa7ff
}
.color2bd9ff{
    color:#2bd9ff
}
.colorA7DFFF{
    color:#A7DFFF
}
.color787878{
    color:#787878
}
.colorE8E8E8{
    color:#E8E8E8
}

.button{
    font-size: 14px; 
   height: 36px;
Padding-left: 10px;
Padding-top: 9px;
Padding-right: 10px;
Padding-bottom: 9px;
Border-radius: 5px;
}

.accordion-header > .accordion-button {
    border-radius: 5px;
background-color: #A7DFFF;
    width: 100%;
}

figure {
    display: block;
    
    width: 50%;
    max-width: 50em;
    
    margin: 1em auto;
    padding: 0.5em 1em;
    
}
.main-header{
    background: #fff;
    height: 110px;
    width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
	left: 0; /* Posicionamos la cabecera al lado izquierdo */
	top: 0; /* Posicionamos la cabecera pegada arriba */
	position: fixed;
}
nav {
	float: right;
}

.main-content{
    width: 90%;
	padding: 40px;
	margin: 5px auto;
    padding:5px

}