 <footer >
        <div class="container d-flex justify-content-start text-center" style="background: #387CFF;"> 
                <div class="col-sm-4 p-5">

                    <img src="./images/Logo PH-01.svg" style="width: 80%">
                </div>

                <div class="col-sm-8">
                            <div class="row p-3 mt-3">
                                    <div class="col">
                                        <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Registro"   > 
                                            <span style="font-weight:bold;color:white">Contacto</span></a>
                                                <!-- Modal -->
                                                <div class="modal fade" id="Registro" tabindex="-1" aria-labelledby="Registro" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                        <h5 class="modal-title" id="Registro">Contacto</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="mb-3">
                                                                <label for="Registro-form" class="form-label">Email</label>
                                                                <input type="email" class="form-control" id="email" placeholder="name@example.com">
                                                            </div>
                                                            <div class="mb-3">
                                                                <label for="Registro-form" class="form-label">Consulta/Mensaje</label>
                                                                <textarea class="form-control" id="mensaje" rows="3"></textarea>
                                                            </div>


                                                </div> 
                                                        <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Enviar</button>
                                                        
                                                        </div>
                                                    </div>
                                                    </div>
                                                </div>
                                                <!-- termino modal --> 

                                        </div>
                                        <div class="col">
                                        
                                            <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Pagos" > 
                                                <span style="font-weight:bold;color:white">Términos del Servicio Adicional de Pagos</span></a>
                                        </div>

                                                                                    <!-- Modal -->
                                            <div class="modal fade" id="Pagos" tabindex="-1" aria-labelledby="Pagos" aria-hidden="true">
                                                <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                    <h5 class="modal-title" id="Pagos">Pagos</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                       <p class="text-start"> Los pagos electrónicos de su membresía es un servicio proporcionado por
                                                        Próxima Hora.<br></p>
                                                                        <div class="text-center"><a href="pagos"  class="btn btn-info">Mas Detalles</a></div>
                                  
                                                                
                                                    </div> <!-- termino modal --> 
                                                    <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                    
                                                    </div>
                                                </div>
                                                </div>
                                            </div>
                                            <!-- termino modal --> 
                                        <div class="col">
                                        
                                            <a href="#" class="btn " > <span style="font-weight:bold;color:white"> Registro</span></a>
                                        </div>
                            
                                <div class="row p-2">
                                        <div class="col">
                                        
                                        </div>
                                       
                                        <div class="col">
                                        
                                            <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Politicas"> 
                                                <span style="font-weight:bold;color:white">Declaración de protección de privacidad</span></a>

                                          <!-- Modal -->
                                            <div class="modal fade" id="Politicas" tabindex="-1" aria-labelledby="Politicas" aria-hidden="true">
                                                <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                    <h5 class="modal-title" id="Politicas">Politicas</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body ">
                                                        <h4>Resumen de términos y condiciones</h4>
                                                        <div class="text-start">
                                                       <p>Próxima Hora, pertenece a “Desarrollo, Intermediación y Comercialización de Productos y Servicios Valdés y Cruz Limitada” (CRUVAL Business Ltda.), que es una compañía de tecnología que ofrece servicios vinculados principalmente al agendamiento de servicios de especialistas. En adelante, al hablar de Próxima Hora como compañía, se referirá a “Desarrollo, Intermediación y Comercialización de Productos y Servicios Valdés y Cruz Limitada” (CRUVAL Business Ltda.), como dueña del Sitio.
                                                        Para poder operar en la plataforma todas las Personas Usuarias deberán aceptar los Términos y Condiciones, los anexos y la Declaración de Privacidad.
                                                        Cada Persona Usuaria es responsable de los datos personales que brinda al momento de registrarse y se obliga a mantenerlos actualizados. Además, es el único responsable del uso y resguardo de su contraseña. 
                                                        En el caso de los Especialistas Oferentes de Servicios, cobraremos una tarifa por el uso de los servicios que integran el ecosistema de Próxima Hora, de acuerdo al plan al cual se inscriba, que el Especialista se compromete a pagar. </p> 
                                                        </div>
                                                        <div class="text-center"><a href="politicas"  class="btn btn-info">Mas Detalles</a></div>
                                                    </div>
                                                    <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                    
                                                    </div>
                                                </div>
                                                </div>
                                            </div>
                                            <!-- termino modal --> 
                                                                                    
                                            </div>

                                            <div class="col">
                                            <!-- Scrollable modal -->
                                            <!-- Button trigger modal -->
                                                <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#AdChoice"> <span style="font-weight:bold;color:white">AdChoice</span></a>

                                                </div>
                                    

                                            <!-- Modal -->
                                            <div class="modal fade" id="AdChoice" tabindex="-1" aria-labelledby="AdChoice" aria-hidden="true">
                                                <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">AdChoice</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        AdChoice: preferencias de publicidad de Próxima Hora
                                                        ¿Qué es AdChoice?
                                                        Para mostrarte anuncios personalizados de productos que quizás te interesen dentro y fuera de nuestras propiedades afiliadas, podemos utilizar la información que nos facilitas cuando realizas cualquier acción con nuestros sitios, contenidos o servicios. Tienes la opción de desactivar esa publicidad siempre que quieras. Solo ten en cuenta que, si desactivas la función, seguirás viendo publicidad, pero no estará adaptada a tus intereses según tu actividad en Próxima Hora.
                                                        ¿Nos permites usar la información de tu actividad en Próxima Hora para mostrarte publicidad personalizada?
                                                        
                                                        Sí
                                                        Cómo seleccionamos la publicidad
                                                        Cómo usamos la información
                                                        Usamos esta información para saber qué tipo de productos o Servicios te pueden interesar. De este modo, podemos adaptar y mejorar tu experiencia de compra en línea, tanto en los sitios web del grupo corporativo de Próxima Hora como en otros sitios web.
                                                        Con quién trabajamos
                                                        Es posible que colaboremos con otras compañías, como sitios web y redes de anuncios, para mostrarte publicidad personalizada. Estos socios pueden tener acceso a tu información para ayudarnos a brindarte publicidad personalizada. Los anunciantes y otros terceros (por ejemplo, sus posibles plataformas publicitarias y proveedores de servicios) pueden suponer que los usuarios que realizan alguna acción con un anuncio personalizado forman parte del grupo para el cual está dirigido el anuncio. Además, algunos terceros pueden facilitarnos información sobre ti (p. ej., información demográfica) proveniente de Internet u otras fuentes, que podemos utilizar para mostrarte una publicidad más pertinente. Consulta nuestro Aviso de Privacidad para obtener más detalles sobre nuestras políticas de uso compartido de información con otras compañías.
                                                        Cómo puedes controlar tu información
                                                        Sin embargo, puedes decirnos que no utilicemos tu actividad en Próxima Hora para personalizar la publicidad que te mostramos, ya sea en Próxima Hora o en cualquier otro sitio web. Siempre que veas el enlace "Acerca de" o "Adchoice" junto a uno de los anuncios publicitarios o en uno de ellos, o en el pie de página de alguno de nuestros sitios web, haz clic para ver y cambiar tus preferencias de publicidad.
                                                        Recuerda que, si desactivas la función, seguirás viendo publicidad, solo que no estará adaptada a tus intereses según tu actividad en Próxima Hora.
                                                        
                                                    </div>
                                                    <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                    
                                                    </div>
                                                </div>
                                                </div>
                                            </div>
                                            <!-- termino modal --> 


                                        </div>
                        
                </div>

               </div>
        </div> 
      </footer>